@keyframes finished {
    0% { color: lime }
    50% { color: lime }
    51% { color: white }
    100% { color: white }
}

@keyframes waiting {
    0% { color: red }
    50% { color: red }
    51% { color: white }
    100% { color: white }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
}

h1 {
    margin: 0;
    font-size: 18rem;
    font-weight: bold;
}

h2 {
    margin: 0;
    font-size: 8rem;
}

.stopwatch_finished, .stopwatch_waiting {
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.stopwatch_finished {
    animation-name: finished;
}

.stopwatch_waiting {
    animation-name: waiting;
}

.stopwatch_active {
    color: white;
}